.banner-secao-sobre{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/public/assets/banner-sobre.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #fff;
    text-shadow: 3px 5px #000;
    text-align: center;
}

.secao-texto-sobre{
    max-width: 1024px;
    margin: 40px auto;
    text-align: center;
}

.secao-texto-sobre h2{
    font-size: 30px;
}

.secao-texto-sobre span{
    font-style: italic;
    font-weight: bold;
}

.secao-texto-sobre p{
    margin: 20px;
}

.secao-galeria-sobre{
    width: 100%;
    height: 100%;
}
.secao-galeria-sobre img{
    width: 50%;
    height: 75vh;
}

@media (max-width: 768px){
    .secao-galeria-sobre img{width: 100%; height: 100%;}
    .banner-secao-sobre{font-size: 50px;}

}

@media (max-width: 425px){
    .banner-secao-sobre{font-size: 30px;}
}