header {
    background-color: rgb(249, 219, 121);
    width: 100%;
}
 header img{
    width: 70px;
 }

 .topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
 }
nav{
   margin-right: 35px;
}
 nav a{
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
 }

 @media (max-width: 425px){
   .topo{flex-direction: column;}
   nav { border-top: 1px solid black; margin: 0;}
   nav a{font-size: 20px;}
}

